components/campaign.html

<section class="campaign">
  <div class="campaign__list">
    <div class="campaign__item">
      <div class="campaign__wrapper">
        <div class="campaign__bottle"><img class="campaign__bottle-img" src="assets/image/campaign-bottle.svg"/></div>
        <div class="campaign__content">
          <div class="campaign__crown"><img class="campaign__crown-img" src="assets/image/crown.svg" alt="crown"/>
            <p class="campaign__crown-text">初回限定特別価格キャンペーン</p>
          </div>
          <p class="campaign__title">efs化粧水<span>〈○○g〉</span></p>
          <div class="campaign__content-middle">
            <div class="campaign__middle-text">
              <p class="campaign__price">通常価格0,000円</p>
              <div class="campaign__content-middle">
                <p class="campaign__sale-price">特別価格 0,000</p>
                <div class="campaign__unit-container"><span class="campaign__tax">（税込）</span><span class="campaign__yen">円</span></div>
              </div>
            </div>
            <div class="campaign__circle"><span class="campaign__circle-text">送料<br/>無料</span></div>
          </div>
          <button class="button">ご購入はこちら　></button>
        </div>
      </div>
    </div>
    <div class="campaign__item campaign__item--sm">
      <div class="campaign__wrapper">
        <div class="campaign__bottle"><img class="campaign__bottle-img" src="assets/image/campaign-bottle.svg"/></div>
        <div class="campaign__content">
          <p class="campaign__title">efs化粧水<br/><span>〈○○g〉</span></p>
          <div class="campaign__content-middle">
            <div class="campaign__circle"><span class="campaign__circle-text">送料<br/>無料</span></div>
            <div class="campaign__middle-text">
              <div class="campaign__content-middle">
                <p class="campaign__sale-price">0,000</p>
                <div class="campaign__unit-container"><span class="campaign__tax">（税込）</span><span class="campaign__yen">円</span></div>
              </div>
            </div>
          </div>
          <button class="button">ご購入はこちら　></button>
        </div>
      </div>
    </div>
  </div>
</section>

src/pug/components/campaign.pug
section.campaign
  .campaign__list
    .campaign__item
      .campaign__wrapper
        .campaign__bottle
          img.campaign__bottle-img(src="assets/image/campaign-bottle.svg")
        .campaign__content
          .campaign__crown
            img.campaign__crown-img(src="assets/image/crown.svg" alt="crown")
            p.campaign__crown-text 初回限定特別価格キャンペーン

          p.campaign__title efs化粧水
            span 〈○○g〉

          .campaign__content-middle
            .campaign__middle-text
              p.campaign__price 通常価格0,000円
              .campaign__content-middle
                p.campaign__sale-price 特別価格 0,000
                .campaign__unit-container
                  span.campaign__tax （税込）
                  span.campaign__yen 円
            .campaign__circle
              span.campaign__circle-text 送料
                br
                | 無料

          button.button ご購入はこちら　>

    .campaign__item.campaign__item--sm
      .campaign__wrapper
        .campaign__bottle
          img.campaign__bottle-img(src="assets/image/campaign-bottle.svg")
        .campaign__content
          p.campaign__title efs化粧水
            br
            span 〈○○g〉

          .campaign__content-middle
            .campaign__circle
              span.campaign__circle-text 送料
                br
                | 無料
            .campaign__middle-text
              .campaign__content-middle
                p.campaign__sale-price 0,000
                .campaign__unit-container
                  span.campaign__tax （税込）
                  span.campaign__yen 円

          button.button ご購入はこちら　>
